.wrapper {
  &.unmounted {
    transform: scale3d(0, 0, 1);
  }
  &.mounting {
    transform: scale3d(0, 0, 1);
    animation: mounting .3s cubic-bezier(0.5,1.3,1,1.1);
    animation-fill-mode: forwards;
  }
  &.unmounting {
    transform: scale3d(1, 1, 1);
    animation: unmounting .3s cubic-bezier(0.5,-0.3,1,0.5);
    animation-fill-mode: forwards;
  }
}

@keyframes mounting {
  from {
    transform: scale3d(0, 0, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes unmounting {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(0, 0, 1);
  }
}
