@import '../../../styles/variables';

.content {
  padding: 20px;
  width: 210px;
  height: 270px;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.title {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $app-background;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
}
