@import '../../../styles/variables';

.wrapper {
  position: relative;
  $border-width: 8px;
  margin: 0 auto;
  width: 120px;
  height: 120px;

  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    //background-color: #333333;
    border-radius: 50%;
    width: calc(100% - $border-width * 2);
    height: calc(100% - $border-width * 2);
  }

  .filler, .background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .background {
    opacity: .1;
  }


  .wheel {
    transform-origin: center;
    transform: rotate(90deg) scaleY(-1);
    .path {

      fill: none;
      fill-opacity: 1;
      stroke: $app-background;
      stroke-width: 8px;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
    }
  }
}
