@import 'styles/variables';

.wrapper {
  margin-top: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 20px 0 10px;
  color: $title-font-color;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
}

.text {
  max-width: 480px;
  color: #e8e8e8;
  font-size: 20px;
  text-align: center;
}

.buttons {
  margin-top: 40px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
