@import 'styles/variables';

.wrapper {
  margin-top: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 20px 30px 20px;
  color: $title-font-color;
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
}

.text {
  max-width: 480px;
  color: #e8e8e8;
  font-size: 20px;
  text-align: center;
}

.buttons {
  margin-top: 40px;
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 420px) {
  .buttons {
    width: 100%;
    flex-direction: column;
    height: 100px;
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 42px;
  }
}
