@import "styles/variables";

.main {
  flex-grow: 1;
  max-width: 1180px;
  min-height: 720px;
  @include main-background();
  outline: 10px solid rgba(#ffffff, .2);
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
}
